// bower:scss
// endbower
@keyframes slideInUp {
  from {
    transform: translate3d(0, 40%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
body {
  padding: 0;
}
.main-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  /* hide horizontal scrollbar on IE11 */
  overflow: hidden;
  //background-color: #535353;
  background-image: url('../images/backgr.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: table;
  .main-wrapper-content {
    display: table-cell;
    vertical-align: middle;
    &.animate {
      animation: slideInUp 1s ease;
      animation-delay: 1s;
    }
    .form-wrapper {
      color: white;
    }
    p {
      font-family: 'Lato';
      font-weight: 400;
      font-size: 1.2em;
    }
  }
}
.logo {
  background-image: url('../images/logo_transaldis.png');
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  background-size: contain;
}
#dialogForm,
.thanks {
  padding: 50px;
}
.thanks {
  p {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 1.2em;
  }
}
.recaptcha {
  margin-left: auto;
  margin-right: auto;
}
.submitbutton {
  margin-top: 20px;
}
.md-button.md-raised {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: #94BA65 !important;
  color: white;
  padding-right: 25px;
  padding-left: 25px;
}
.md-button.md-raised:not([disabled]):hover {
  background-color: #ACD976;
}
.md-button.md-fab:not([disabled]):hover {
  background-color: #ACD976;
}
.md-button.md-fab {
  background-color: #94BA65 !important;
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #ACD976;
}
@media (max-width:750px) {
  .main-wrapper {
    .main-wrapper-content {
      h1 {
        font-size: 2.5em;
      }
    }
  }
}
.wfull{
  width: 100%;
}
